

h1, h2, h3, h4, h5, h6 {
	font-family:'Oswald', sans-serif; font-style:normal; font-weight:500;}

.gst-primary-font {
	font-family:'Poppins', sans-serif; font-style:normal; font-weight:normal;}
.gst-secondary-font {
	font-family:'Oswald', sans-serif; font-style:normal; font-weight:500;}
.gst-custom_a-font {
	font-family:'Roboto', sans-serif; font-style:normal; font-weight:normal;}
.gst-custom_b-font {
	}
.gst-custom_c-font {
	}
.gst-custom_d-font {
	}
.gst-custom_e-font {
	}
.gst-custom_f-font {
	}
.gst-custom_g-font {
	}
.gst-custom_h-font {
	}

body {
	color: #434343;
	background-color: #ffffff;
}

.gst-wrapper--parallax-footer .gst-content {
	background-color: #ffffff;
}

::selection {
	color: #fff;
	background-color: #0068a2;
}

::-moz-selection {
	color: #fff;
	background-color: #0068a2;
}

a,
a:hover.gst-s-text-color,
a:hover.gst-p-text-color,
.comment-form-rating p.stars a:before,
.comment-rating > span,
.comment-like-dislike a:visited {
	color: #0068a2;
}

a:hover,
a:focus,
a:active,
a:hover.gst-p-brand-color {
	color: #60bb46;
}

a:focus.gst-s-text-color {
	color: #38332f;
}

a:focus.gst-p-text-color {
	color: #434343;
}

.btnx,
ins, code, kbd, tt {
	color: #0068a2;
}

.btnx:hover,
.btnx:focus {
	color: #60bb46;
}

a:hover.gst-p-bg-color {color: #f7f7f7;}
.gst-dark-scheme a:hover.gst-p-bg-color {color: #040404;}
.gst-light-scheme a:hover.gst-p-bg-color {color: #f7f7f7;}label {color: #434343;}
.gst-dark-scheme label {color: #c9c9c9;}
.gst-light-scheme label {color: #434343;}pre, cite, mark, h1, h2, h3, h4, h5, h6, .gst-text-bullet.decimal li:before {color: #38332f;}
.gst-dark-scheme pre, .gst-dark-scheme cite, .gst-dark-scheme mark, .gst-dark-scheme h1, .gst-dark-scheme h2, .gst-dark-scheme h3, .gst-dark-scheme h4, .gst-dark-scheme h5, .gst-dark-scheme h6, .gst-dark-scheme .gst-text-bullet.decimal li:before {color: #ffffff;}
.gst-light-scheme pre, .gst-light-scheme cite, .gst-light-scheme mark, .gst-light-scheme h1, .gst-light-scheme h2, .gst-light-scheme h3, .gst-light-scheme h4, .gst-light-scheme h5, .gst-light-scheme h6, .gst-light-scheme .gst-text-bullet.decimal li:before {color: #38332f;}code, kbd, tt, pre {background-color: #f7f7f7;}
.gst-dark-scheme code, .gst-dark-scheme kbd, .gst-dark-scheme tt, .gst-dark-scheme pre {background-color: #040404;}
.gst-light-scheme code, .gst-light-scheme kbd, .gst-light-scheme tt, .gst-light-scheme pre {background-color: #f7f7f7;}pre {border-color: #dfdfdf;}
.gst-dark-scheme pre {border-color: #d3d3d3;}
.gst-light-scheme pre {border-color: #dfdfdf;}
.gst-light-scheme,
.gst-entry-light-scheme,
.gst-slider-light-scheme {
	color: #434343;
}

.gst-dark-scheme,
.gst-entry-dark-scheme,
.gst-slider-dark-scheme {
	color: #c9c9c9;
}

.gst-p-brand-color {
	color: #0068a2;
}

.gst-p-brand-bg {
	background-color: #0068a2;
}

.gst-p-brand-border,
.widget .gst-menu.anchor .menu-item.current-menu-item > a {
	border-color: #0068a2;
}

.gst-s-brand-color {
	color: #60bb46;
}

.gst-s-brand-bg {
	background-color: #60bb46;
}

.gst-s-brand-border {
	border-color: #60bb46;
}

.gst-p-brand-contrast-color {
	color: #fff;
}

.gst-s-brand-contrast-color {
	color: #fff;
}

.gst-p-text-contrast-color {color: #fff;}
.gst-dark-scheme .gst-p-text-contrast-color {color: #222;}
.gst-light-scheme .gst-p-text-contrast-color {color: #fff;}
.gst-slider-dark-scheme .gst-p-text-contrast-color {color: #222;}
.gst-slider-light-scheme .gst-p-text-contrast-color {color: #fff;}.gst-s-text-contrast-color {color: #fff;}
.gst-dark-scheme .gst-s-text-contrast-color {color: #222;}
.gst-light-scheme .gst-s-text-contrast-color {color: #fff;}
.gst-slider-dark-scheme .gst-s-text-contrast-color {color: #222;}
.gst-slider-light-scheme .gst-s-text-contrast-color {color: #fff;}.gst-p-text-color {color: #434343;}
.gst-dark-scheme .gst-p-text-color {color: #c9c9c9;}
.gst-light-scheme .gst-p-text-color {color: #434343;}
.gst-slider-dark-scheme .gst-p-text-color, .gst-entry-dark-scheme .gst-p-text-color {color: #c9c9c9;}
.gst-slider-light-scheme .gst-p-text-color, .gst-entry-light-scheme .gst-p-text-color {color: #434343;}.gst-p-text-bg {background-color: #434343;}
.gst-dark-scheme .gst-p-text-bg {background-color: #c9c9c9;}
.gst-light-scheme .gst-p-text-bg {background-color: #434343;}
.gst-slider-dark-scheme .gst-p-text-bg, .gst-entry-dark-scheme .gst-p-text-bg {background-color: #c9c9c9;}
.gst-slider-light-scheme .gst-p-text-bg, .gst-entry-light-scheme .gst-p-text-bg {background-color: #434343;}.gst-s-text-color {color: #38332f;}
.gst-dark-scheme .gst-s-text-color {color: #ffffff;}
.gst-light-scheme .gst-s-text-color {color: #38332f;}
.gst-slider-dark-scheme .gst-s-text-color, .gst-entry-dark-scheme .gst-s-text-color {color: #ffffff;}
.gst-slider-light-scheme .gst-s-text-color, .gst-entry-light-scheme .gst-s-text-color {color: #38332f;}.gst-s-text-bg {background-color: #38332f;}
.gst-dark-scheme .gst-s-text-bg {background-color: #ffffff;}
.gst-light-scheme .gst-s-text-bg {background-color: #38332f;}
.gst-slider-dark-scheme .gst-s-text-bg, .gst-entry-dark-scheme .gst-s-text-bg {background-color: #ffffff;}
.gst-slider-light-scheme .gst-s-text-bg, .gst-entry-light-scheme .gst-s-text-bg {background-color: #38332f;}.gst-s-text-bg.gst-overlay {background-color: #38332f; background-color: rgba(56,51,47,0.9);}
.gst-dark-scheme .gst-s-text-bg.gst-overlay {background-color: #ffffff; background-color: rgba(255,255,255,0.9);}
.gst-light-scheme .gst-s-text-bg.gst-overlay {background-color: #38332f; background-color: rgba(56,51,47,0.9);}
.gst-slider-dark-scheme .gst-s-text-bg.gst-overlay, .gst-entry-dark-scheme .gst-s-text-bg.gst-overlay {background-color: #ffffff; background-color: rgba(255,255,255,0.9);}
.gst-slider-light-scheme .gst-s-text-bg.gst-overlay, .gst-entry-light-scheme .gst-s-text-bg.gst-overlay {background-color: #38332f; background-color: rgba(56,51,47,0.9);}.gst-s-text-border {border-color: #38332f;}
.gst-dark-scheme .gst-s-text-border {border-color: #ffffff;}
.gst-light-scheme .gst-s-text-border {border-color: #38332f;}
.gst-slider-dark-scheme .gst-s-text-border, .gst-entry-dark-scheme .gst-s-text-border {border-color: #ffffff;}
.gst-slider-light-scheme .gst-s-text-border, .gst-entry-light-scheme .gst-s-text-border {border-color: #38332f;}.gst-p-bg-color {color: #ffffff;}
.gst-dark-scheme .gst-p-bg-color {color: #1d1d1d;}
.gst-light-scheme .gst-p-bg-color {color: #ffffff;}
.gst-slider-dark-scheme .gst-p-bg-color, .gst-entry-dark-scheme .gst-p-bg-color {color: #1d1d1d;}
.gst-slider-light-scheme .gst-p-bg-color, .gst-entry-light-scheme .gst-p-bg-color {color: #ffffff;}.gst-p-bg-bg {background-color: #ffffff;}
.gst-dark-scheme .gst-p-bg-bg {background-color: #1d1d1d;}
.gst-light-scheme .gst-p-bg-bg {background-color: #ffffff;}
.gst-slider-dark-scheme .gst-p-bg-bg, .gst-entry-dark-scheme .gst-p-bg-bg {background-color: #1d1d1d;}
.gst-slider-light-scheme .gst-p-bg-bg, .gst-entry-light-scheme .gst-p-bg-bg {background-color: #ffffff;}.gst-p-bg-border {border-color: #ffffff;}
.gst-dark-scheme .gst-p-bg-border {border-color: #1d1d1d;}
.gst-light-scheme .gst-p-bg-border {border-color: #ffffff;}
.gst-slider-dark-scheme .gst-p-bg-border, .gst-entry-dark-scheme .gst-p-bg-border {border-color: #1d1d1d;}
.gst-slider-light-scheme .gst-p-bg-border, .gst-entry-light-scheme .gst-p-bg-border {border-color: #ffffff;}.gst-s-bg-color {color: #f7f7f7;}
.gst-dark-scheme .gst-s-bg-color {color: #040404;}
.gst-light-scheme .gst-s-bg-color {color: #f7f7f7;}
.gst-slider-dark-scheme .gst-s-bg-color, .gst-entry-dark-scheme .gst-s-bg-color {color: #040404;}
.gst-slider-light-scheme .gst-s-bg-color, .gst-entry-light-scheme .gst-s-bg-color {color: #f7f7f7;}.gst-s-bg-bg {background-color: #f7f7f7;}
.gst-dark-scheme .gst-s-bg-bg {background-color: #040404;}
.gst-light-scheme .gst-s-bg-bg {background-color: #f7f7f7;}
.gst-slider-dark-scheme .gst-s-bg-bg, .gst-entry-dark-scheme .gst-s-bg-bg {background-color: #040404;}
.gst-slider-light-scheme .gst-s-bg-bg, .gst-entry-light-scheme .gst-s-bg-bg {background-color: #f7f7f7;}.gst-s-bg-border {border-color: #f7f7f7;}
.gst-dark-scheme .gst-s-bg-border {border-color: #040404;}
.gst-light-scheme .gst-s-bg-border {border-color: #f7f7f7;}
.gst-slider-dark-scheme .gst-s-bg-border, .gst-entry-dark-scheme .gst-s-bg-border {border-color: #040404;}
.gst-slider-light-scheme .gst-s-bg-border, .gst-entry-light-scheme .gst-s-bg-border {border-color: #f7f7f7;}.gst-p-border-color {color: #dfdfdf;}
.gst-dark-scheme .gst-p-border-color {color: #d3d3d3;}
.gst-light-scheme .gst-p-border-color {color: #dfdfdf;}
.gst-slider-dark-scheme .gst-p-border-color, .gst-entry-dark-scheme .gst-p-border-color {color: #d3d3d3;}
.gst-slider-light-scheme .gst-p-border-color, .gst-entry-light-scheme .gst-p-border-color {color: #dfdfdf;}.gst-p-border-bg {background-color: #dfdfdf;}
.gst-dark-scheme .gst-p-border-bg {background-color: #d3d3d3;}
.gst-light-scheme .gst-p-border-bg {background-color: #dfdfdf;}
.gst-slider-dark-scheme .gst-p-border-bg, .gst-entry-dark-scheme .gst-p-border-bg {background-color: #d3d3d3;}
.gst-slider-light-scheme .gst-p-border-bg, .gst-entry-light-scheme .gst-p-border-bg {background-color: #dfdfdf;}.gst-p-border-border {border-color: #dfdfdf;}
.gst-dark-scheme .gst-p-border-border, .gst-dark-scheme.gst-p-border-border {border-color: #d3d3d3;}
.gst-light-scheme .gst-p-border-border, .gst-light-scheme.gst-p-border-border {border-color: #dfdfdf;}
.gst-slider-dark-scheme .gst-p-border-border, .gst-entry-dark-scheme .gst-p-border-border, .gst-navbar-dropdown-dark-scheme .gst-p-border-border {border-color: #d3d3d3;}
.gst-slider-light-scheme .gst-p-border-border, .gst-entry-light-scheme .gst-p-border-border, .gst-navbar-dropdown-light-scheme .gst-p-border-border {border-color: #dfdfdf;}.gst-overlay {background-color: #ffffff; background-color: rgba(255,255,255,0.9);}
.gst-dark-scheme .gst-overlay {background-color: #1d1d1d; background-color: rgba(29,29,29,0.9);}
.gst-light-scheme .gst-overlay {background-color: #ffffff; background-color: rgba(255,255,255,0.9);}
.gst-slider-dark-scheme .gst-overlay, .gst-entry-dark-scheme .gst-overlay {background-color: #1d1d1d; background-color: rgba(29,29,29,0.9);}
.gst-slider-light-scheme .gst-overlay, .gst-entry-light-scheme .gst-overlay {background-color: #ffffff; background-color: rgba(255,255,255,0.9);}
.gst-button--border.gst-button-color--brand > .btnx, .gst-button--fill.gst-button-hover--inverse > .btnx:hover {color: #0068a2; border-color: #0068a2;}
.gst-dark-scheme .gst-button--border.gst-button-color--brand > .btnx, .gst-dark-scheme .gst-button--fill.gst-button-hover--inverse > .btnx:hover {color: #0068a2; border-color: #0068a2;}
.gst-light-scheme .gst-button--border.gst-button-color--brand > .btnx, .gst-light-scheme .gst-button--fill.gst-button-hover--inverse > .btnx:hover {color: #0068a2; border-color: #0068a2;}
.gst-slider-dark-scheme .gst-button--border.gst-button-color--brand > .btnx, .gst-slider-dark-scheme .gst-button--fill.gst-button-hover--inverse > .btnx:hover {color: #0068a2; border-color: #0068a2;}
.gst-slider-light-scheme .gst-button--border.gst-button-color--brand > .btnx, .gst-slider-light-scheme .gst-button--fill.gst-button-hover--inverse > .btnx:hover {color: #0068a2; border-color: #0068a2;}.gst-button--border.gst-button-hover--brand > .btnx:hover {color: #60bb46; border-color: #60bb46;}
.gst-dark-scheme .gst-button--border.gst-button-hover--brand > .btnx:hover {color: #60bb46; border-color: #60bb46;}
.gst-light-scheme .gst-button--border.gst-button-hover--brand > .btnx:hover {color: #60bb46; border-color: #60bb46;}
.gst-slider-dark-scheme .gst-button--border.gst-button-hover--brand > .btnx:hover {color: #60bb46; border-color: #60bb46;}
.gst-slider-light-scheme .gst-button--border.gst-button-hover--brand > .btnx:hover {color: #60bb46; border-color: #60bb46;}.gst-form-group input[type=submit], .gst-button--layer.gst-button-color--brand > .btnx, .gst-button--fill.gst-button-color--brand > .btnx, .gst-button--border.gst-button-hover--inverse > .btnx:hover {color: #fff; border-color: #0068a2; background-color: #0068a2;}
.gst-dark-scheme .gst-form-group input[type=submit], .gst-dark-scheme .gst-button--layer.gst-button-color--brand > .btnx, .gst-dark-scheme .gst-button--fill.gst-button-color--brand > .btnx, .gst-dark-scheme .gst-button--border.gst-button-hover--inverse > .btnx:hover {color: #fff; border-color: #0068a2; background-color: #0068a2;}
.gst-light-scheme .gst-form-group input[type=submit], .gst-light-scheme .gst-button--layer.gst-button-color--brand > .btnx, .gst-light-scheme .gst-button--fill.gst-button-color--brand > .btnx, .gst-light-scheme .gst-button--border.gst-button-hover--inverse > .btnx:hover {color: #fff; border-color: #0068a2; background-color: #0068a2;}
.gst-slider-dark-scheme .gst-form-group input[type=submit], .gst-slider-dark-scheme .gst-button--layer.gst-button-color--brand > .btnx, .gst-slider-dark-scheme .gst-button--fill.gst-button-color--brand > .btnx, .gst-slider-dark-scheme .gst-button--border.gst-button-hover--inverse > .btnx:hover {color: #fff; border-color: #0068a2; background-color: #0068a2;}
.gst-slider-light-scheme .gst-form-group input[type=submit], .gst-slider-light-scheme .gst-button--layer.gst-button-color--brand > .btnx, .gst-slider-light-scheme .gst-button--fill.gst-button-color--brand > .btnx, .gst-slider-light-scheme .gst-button--border.gst-button-hover--inverse > .btnx:hover {color: #fff; border-color: #0068a2; background-color: #0068a2;}.gst-form-group input[type=submit]:hover, .gst-button--fill.gst-button-hover--brand > .btnx:hover {color: #fff; border-color: #60bb46; background-color: #60bb46;}
.gst-dark-scheme .gst-form-group input[type=submit]:hover, .gst-dark-scheme .gst-button--fill.gst-button-hover--brand > .btnx:hover {color: #fff; border-color: #60bb46; background-color: #60bb46;}
.gst-light-scheme .gst-form-group input[type=submit]:hover, .gst-light-scheme .gst-button--fill.gst-button-hover--brand > .btnx:hover {color: #fff; border-color: #60bb46; background-color: #60bb46;}
.gst-slider-dark-scheme .gst-form-group input[type=submit]:hover, .gst-slider-dark-scheme .gst-button--fill.gst-button-hover--brand > .btnx:hover {color: #fff; border-color: #60bb46; background-color: #60bb46;}
.gst-slider-light-scheme .gst-form-group input[type=submit]:hover, .gst-slider-light-scheme .gst-button--fill.gst-button-hover--brand > .btnx:hover {color: #fff; border-color: #60bb46; background-color: #60bb46;}
.gst-button-color--basic.gst-button--border > .btnx, .gst-button-color--basic.gst-button--fill.gst-button-hover--inverse > .btnx:hover {color: #38332f; border-color: #38332f;}
.gst-dark-scheme .gst-button-color--basic.gst-button--border > .btnx, .gst-dark-scheme .gst-button-color--basic.gst-button--fill.gst-button-hover--inverse > .btnx:hover {color: #ffffff; border-color: #ffffff;}
.gst-light-scheme .gst-button-color--basic.gst-button--border > .btnx, .gst-light-scheme .gst-button-color--basic.gst-button--fill.gst-button-hover--inverse > .btnx:hover {color: #38332f; border-color: #38332f;}
.gst-slider-dark-scheme .gst-button-color--basic.gst-button--border > .btnx, .gst-slider-dark-scheme .gst-button-color--basic.gst-button--fill.gst-button-hover--inverse > .btnx:hover {color: #ffffff; border-color: #ffffff;}
.gst-slider-light-scheme .gst-button-color--basic.gst-button--border > .btnx, .gst-slider-light-scheme .gst-button-color--basic.gst-button--fill.gst-button-hover--inverse > .btnx:hover {color: #38332f; border-color: #38332f;}.gst-button-color--basic.gst-button--layer > .btnx, .gst-button-color--basic.gst-button--fill > .btnx, .gst-button-color--basic.gst-button--border.gst-button-hover--inverse > .btnx:hover {color: #fff; border-color: #38332f; background-color: #38332f;}
.gst-dark-scheme .gst-button-color--basic.gst-button--layer > .btnx, .gst-dark-scheme .gst-button-color--basic.gst-button--fill > .btnx, .gst-dark-scheme .gst-button-color--basic.gst-button--border.gst-button-hover--inverse > .btnx:hover {color: #222; border-color: #ffffff; background-color: #ffffff;}
.gst-light-scheme .gst-button-color--basic.gst-button--layer > .btnx, .gst-light-scheme .gst-button-color--basic.gst-button--fill > .btnx, .gst-light-scheme .gst-button-color--basic.gst-button--border.gst-button-hover--inverse > .btnx:hover {color: #fff; border-color: #38332f; background-color: #38332f;}
.gst-slider-dark-scheme .gst-button-color--basic.gst-button--layer > .btnx, .gst-slider-dark-scheme .gst-button-color--basic.gst-button--fill > .btnx, .gst-slider-dark-scheme .gst-button-color--basic.gst-button--border.gst-button-hover--inverse > .btnx:hover {color: #222; border-color: #ffffff; background-color: #ffffff;}
.gst-slider-light-scheme .gst-button-color--basic.gst-button--layer > .btnx, .gst-slider-light-scheme .gst-button-color--basic.gst-button--fill > .btnx, .gst-slider-light-scheme .gst-button-color--basic.gst-button--border.gst-button-hover--inverse > .btnx:hover {color: #fff; border-color: #38332f; background-color: #38332f;}.gst-button-color--basic.gst-button--border.gst-button-hover--brand > .btnx:hover {color: #0068a2; border-color: #0068a2;}
.gst-dark-scheme .gst-button-color--basic.gst-button--border.gst-button-hover--brand > .btnx:hover {color: #0068a2; border-color: #0068a2;}
.gst-light-scheme .gst-button-color--basic.gst-button--border.gst-button-hover--brand > .btnx:hover {color: #0068a2; border-color: #0068a2;}
.gst-slider-dark-scheme .gst-button-color--basic.gst-button--border.gst-button-hover--brand > .btnx:hover {color: #0068a2; border-color: #0068a2;}
.gst-slider-light-scheme .gst-button-color--basic.gst-button--border.gst-button-hover--brand > .btnx:hover {color: #0068a2; border-color: #0068a2;}.gst-button-color--basic.gst-button--fill.gst-button-hover--brand > .btnx:hover {color: #fff; border-color: #0068a2; background-color: #0068a2;}
.gst-dark-scheme .gst-button-color--basic.gst-button--fill.gst-button-hover--brand > .btnx:hover {color: #fff; border-color: #0068a2; background-color: #0068a2;}
.gst-light-scheme .gst-button-color--basic.gst-button--fill.gst-button-hover--brand > .btnx:hover {color: #fff; border-color: #0068a2; background-color: #0068a2;}
.gst-slider-dark-scheme .gst-button-color--basic.gst-button--fill.gst-button-hover--brand > .btnx:hover {color: #fff; border-color: #0068a2; background-color: #0068a2;}
.gst-slider-light-scheme .gst-button-color--basic.gst-button--fill.gst-button-hover--brand > .btnx:hover {color: #fff; border-color: #0068a2; background-color: #0068a2;}
.gst-tab--button .gst-tab-nav .active {
	background-color: #0068a2;
}

.gst-tab--button .gst-tab-nav .active > .gst-tab-nav-title {
	color: #fff;
}

.widget .tagcloud a, .widget_calendar tbody, .widget a .gst-widget-meta, .widget a .gst-widget-category {color: #434343;}
.gst-dark-scheme .widget .tagcloud a, .gst-dark-scheme .widget_calendar tbody, .gst-dark-scheme .widget a .gst-widget-meta, .gst-dark-scheme .widget a .gst-widget-category {color: #c9c9c9;}
.gst-light-scheme .widget .tagcloud a, .gst-light-scheme .widget_calendar tbody, .gst-light-scheme .widget a .gst-widget-meta, .gst-light-scheme .widget a .gst-widget-category {color: #434343;}.widget a, .widget.widget_calendar a, .widget_calendar thead {color: #38332f;}
.gst-dark-scheme .widget a, .gst-dark-scheme .widget.widget_calendar a, .gst-dark-scheme .widget_calendar thead {color: #ffffff;}
.gst-light-scheme .widget a, .gst-light-scheme .widget.widget_calendar a, .gst-light-scheme .widget_calendar thead {color: #38332f;}.widget a:hover, .widget.widget_calendar tfoot a, .widget .gst-widget-viewall, .gst-widget-feature a {color: #0068a2;}
.gst-dark-scheme .widget a:hover, .gst-dark-scheme .widget.widget_calendar tfoot a, .gst-dark-scheme .widget .gst-widget-viewall, .gst-dark-scheme .gst-widget-feature a {color: #0068a2;}
.gst-light-scheme .widget a:hover, .gst-light-scheme .widget.widget_calendar tfoot a, .gst-light-scheme .widget .gst-widget-viewall, .gst-light-scheme .gst-widget-feature a {color: #0068a2;}.widget .gst-widget-viewall:hover, .gst-widget-feature a:hover {color: #60bb46;}
.gst-dark-scheme .widget .gst-widget-viewall:hover, .gst-dark-scheme .gst-widget-feature a:hover {color: #60bb46;}
.gst-light-scheme .widget .gst-widget-viewall:hover, .gst-light-scheme .gst-widget-feature a:hover {color: #60bb46;}.tagcloud a {background-color: #ffffff;}
.gst-dark-scheme .tagcloud a {background-color: #1d1d1d;}
.gst-light-scheme .tagcloud a {background-color: #ffffff;}.widget_calendar #today {color: #fff; background-color: #0068a2;}
.gst-dark-scheme .widget_calendar #today {color: #fff; background-color: #0068a2;}
.gst-light-scheme .widget_calendar #today {color: #fff; background-color: #0068a2;}.tagcloud a, .widget_calendar caption {border-color: #dfdfdf;}
.gst-dark-scheme .tagcloud a, .gst-dark-scheme .widget_calendar caption {border-color: #d3d3d3;}
.gst-light-scheme .tagcloud a, .gst-light-scheme .widget_calendar caption {border-color: #dfdfdf;}
.gst-entries--layer .gst-entry-inner {
	box-shadow: 5px 5px 0px 0px rgba(0,104,162,0.8);
}

.gst-entry-flash span.onsale {color: #fff;}
.gst-dark-scheme .gst-entry-flash span.onsale {color: #222;}
.gst-light-scheme .gst-entry-flash span.onsale {color: #fff;}.gst-entry-title a:hover, .gst-entry-meta a:hover, .gst-relatedpost .gst-entry:hover .gst-entry-title {color: #0068a2;}
.gst-dark-scheme .gst-entry-title a:hover, .gst-dark-scheme .gst-entry-meta a:hover, .gst-dark-scheme .gst-relatedpost .gst-entry:hover .gst-entry-title {color: #0068a2;}
.gst-light-scheme .gst-entry-title a:hover, .gst-light-scheme .gst-entry-meta a:hover, .gst-light-scheme .gst-relatedpost .gst-entry:hover .gst-entry-title {color: #0068a2;}
.gst-entry .more-link {
	color: #0068a2;
}

.gst-entry .more-link:hover {
	color: #60bb46;
}

.slick-dots li.slick-active button:before {color: #38332f;}
.gst-dark-scheme .slick-dots li.slick-active button:before {color: #ffffff;}
.gst-light-scheme .slick-dots li.slick-active button:before {color: #38332f;}
.gst-slider-dark-scheme .slick-dots li.slick-active button:before {color: #ffffff;}
.gst-slider-light-scheme .slick-dots li.slick-active button:before {color: #38332f;}.gst-carousel-arrow {color: #fff; background-color: #38332f; background-color: rgba(56,51,47,0.7);}
.gst-dark-scheme .gst-carousel-arrow {color: #222; background-color: #ffffff; background-color: rgba(255,255,255,0.7);}
.gst-light-scheme .gst-carousel-arrow {color: #fff; background-color: #38332f; background-color: rgba(56,51,47,0.7);}
.gst-slider-dark-scheme .gst-carousel-arrow {color: #222; background-color: #ffffff; background-color: rgba(255,255,255,0.7);}
.gst-slider-light-scheme .gst-carousel-arrow {color: #fff; background-color: #38332f; background-color: rgba(56,51,47,0.7);}.gst-carousel-arrow.transparent {color: #38332f;}
.gst-dark-scheme .gst-carousel-arrow.transparent {color: #ffffff;}
.gst-light-scheme .gst-carousel-arrow.transparent {color: #38332f;}
.gst-slider-dark-scheme .gst-carousel-arrow.transparent {color: #ffffff;}
.gst-slider-light-scheme .gst-carousel-arrow.transparent {color: #38332f;}.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {background-color: #dfdfdf;}
.gst-dark-scheme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .gst-dark-scheme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .gst-dark-scheme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {background-color: #d3d3d3;}
.gst-light-scheme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .gst-light-scheme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .gst-light-scheme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {background-color: #dfdfdf;}.gst-pagination .page-numbers, .gst-filter-list > .active, .gst-filter-list > a:focus {color: #38332f;}
.gst-dark-scheme .gst-pagination .page-numbers, .gst-dark-scheme .gst-filter-list > .active, .gst-dark-scheme .gst-filter-list > a:focus {color: #ffffff;}
.gst-light-scheme .gst-pagination .page-numbers, .gst-light-scheme .gst-filter-list > .active, .gst-light-scheme .gst-filter-list > a:focus {color: #38332f;}.gst-filter-list > .active:after, .page-numbers.current:after {background-color: #38332f;}
.gst-dark-scheme .gst-filter-list > .active:after, .gst-dark-scheme .page-numbers.current:after {background-color: #ffffff;}
.gst-light-scheme .gst-filter-list > .active:after, .gst-light-scheme .page-numbers.current:after {background-color: #38332f;}.gst-button--fill .btnx .gst-bounce, .gst-button--border.gst-button-hover--inverse .btnx:hover .gst-bounce {background-color: #fff;}
.gst-dark-scheme .gst-button--fill .btnx .gst-bounce, .gst-dark-scheme .gst-button--border.gst-button-hover--inverse .btnx:hover .gst-bounce {background-color: #fff;}
.gst-light-scheme .gst-button--fill .btnx .gst-bounce, .gst-light-scheme .gst-button--border.gst-button-hover--inverse .btnx:hover .gst-bounce {background-color: #fff;}.with-border {border-color: #dfdfdf;}
.gst-dark-scheme .with-border {border-color: #d3d3d3;}
.gst-light-scheme .with-border {border-color: #dfdfdf;}
.gst-menu a, .gst-extra-menu a, .gst-navbar-brand, .gst-navbar-social .gst-icon-normal {color: #38332f;}
.gst-dark-scheme .gst-menu a, .gst-dark-scheme .gst-extra-menu a, .gst-dark-scheme .gst-navbar-brand, .gst-dark-scheme .gst-navbar-social .gst-icon-normal {color: #ffffff;}
.gst-light-scheme .gst-menu a, .gst-light-scheme .gst-extra-menu a, .gst-light-scheme .gst-navbar-brand, .gst-light-scheme .gst-navbar-social .gst-icon-normal {color: #38332f;}.gst-navbar-social .gst-icon-normal.gst-icon-fill, .gst-navbar-social .gst-icon-normal.gst-icon-fill-square {background-color: #38332f;}
.gst-dark-scheme .gst-navbar-social .gst-icon-normal.gst-icon-fill, .gst-dark-scheme .gst-navbar-social .gst-icon-normal.gst-icon-fill-square {background-color: #ffffff;}
.gst-light-scheme .gst-navbar-social .gst-icon-normal.gst-icon-fill, .gst-light-scheme .gst-navbar-social .gst-icon-normal.gst-icon-fill-square {background-color: #38332f;}.gst-navbar-social .gst-icon-normal.gst-icon-fill, .gst-navbar-social .gst-icon-normal.gst-icon-fill-square {color: #fff;}
.gst-dark-scheme .gst-navbar-social .gst-icon-normal.gst-icon-fill, .gst-dark-scheme .gst-navbar-social .gst-icon-normal.gst-icon-fill-square {color: #222;}
.gst-light-scheme .gst-navbar-social .gst-icon-normal.gst-icon-fill, .gst-light-scheme .gst-navbar-social .gst-icon-normal.gst-icon-fill-square {color: #fff;}.sub-menu a, .gst-cart-box {color: #434343;}
.gst-dark-scheme .sub-menu a, .gst-dark-scheme .gst-cart-box {color: #c9c9c9;}
.gst-light-scheme .sub-menu a, .gst-light-scheme .gst-cart-box {color: #434343;}
.gst-navbar-dropdown-dark-scheme .sub-menu a, .gst-navbar-dropdown-dark-scheme .gst-cart-box {color: #c9c9c9;}
.gst-navbar-dropdown-light-scheme .sub-menu a, .gst-navbar-dropdown-light-scheme .gst-cart-box {color: #434343;}strong, .gst-mega-menu-title a, .gst-cart-box a, .mini_cart_item > * {color: #38332f;}
.gst-dark-scheme strong, .gst-dark-scheme .gst-mega-menu-title a, .gst-dark-scheme .gst-cart-box a, .gst-dark-scheme .mini_cart_item > * {color: #ffffff;}
.gst-light-scheme strong, .gst-light-scheme .gst-mega-menu-title a, .gst-light-scheme .gst-cart-box a, .gst-light-scheme .mini_cart_item > * {color: #38332f;}
.gst-navbar-dropdown-dark-scheme strong, .gst-navbar-dropdown-dark-scheme .gst-mega-menu-title a, .gst-navbar-dropdown-dark-scheme .gst-cart-box a, .gst-navbar-dropdown-dark-scheme .mini_cart_item > * {color: #ffffff;}
.gst-navbar-dropdown-light-scheme strong, .gst-navbar-dropdown-light-scheme .gst-mega-menu-title a, .gst-navbar-dropdown-light-scheme .gst-cart-box a, .gst-navbar-dropdown-light-scheme .mini_cart_item > * {color: #38332f;}.gst-menu a:hover, .gst-extra-menu a:hover, .gst-navbar-social .gst-icon-hover, .current-menu-item > a, .current-menu-parent > a, .current-menu-ancestor > a {color: #0068a2;}
.gst-dark-scheme .gst-menu a:hover, .gst-dark-scheme .gst-extra-menu a:hover, .gst-dark-scheme .gst-navbar-social .gst-icon-hover, .gst-dark-scheme .current-menu-item > a, .gst-dark-scheme .current-menu-parent > a, .gst-dark-scheme .current-menu-ancestor > a {color: #0068a2;}
.gst-light-scheme .gst-menu a:hover, .gst-light-scheme .gst-extra-menu a:hover, .gst-light-scheme .gst-navbar-social .gst-icon-hover, .gst-light-scheme .current-menu-item > a, .gst-light-scheme .current-menu-parent > a, .gst-light-scheme .current-menu-ancestor > a {color: #0068a2;}.gst-mega-menu-title a:hover {color: #38332f;}
.gst-dark-scheme .gst-mega-menu-title a:hover {color: #ffffff;}
.gst-light-scheme .gst-mega-menu-title a:hover {color: #38332f;}
.gst-navbar-dropdown-dark-scheme .gst-mega-menu-title a:hover {color: #ffffff;}
.gst-navbar-dropdown-light-scheme .gst-mega-menu-title a:hover {color: #38332f;}.gst-topnav-menu .sub-menu a:hover {color: #38332f; background-color: #ffffff;}
.gst-dark-scheme .gst-topnav-menu .sub-menu a:hover {color: #ffffff; background-color: #1d1d1d;}
.gst-light-scheme .gst-topnav-menu .sub-menu a:hover {color: #38332f; background-color: #ffffff;}
.gst-navbar-dropdown-dark-scheme .gst-topnav-menu .sub-menu a:hover {color: #ffffff; background-color: #1d1d1d;}
.gst-navbar-dropdown-light-scheme .gst-topnav-menu .sub-menu a:hover {color: #38332f; background-color: #ffffff;}.gst-navbar-social .gst-icon-hover.gst-icon-fill, .gst-navbar-social .gst-icon-hover.gst-icon-fill-square {background-color: #0068a2;}
.gst-dark-scheme .gst-navbar-social .gst-icon-hover.gst-icon-fill, .gst-dark-scheme .gst-navbar-social .gst-icon-hover.gst-icon-fill-square {background-color: #0068a2;}
.gst-light-scheme .gst-navbar-social .gst-icon-hover.gst-icon-fill, .gst-light-scheme .gst-navbar-social .gst-icon-hover.gst-icon-fill-square {background-color: #0068a2;}.gst-navbar-social .gst-icon-hover.gst-icon-fill, .gst-navbar-social .gst-icon-hover.gst-icon-fill-square {color: #fff;}
.gst-dark-scheme .gst-navbar-social .gst-icon-hover.gst-icon-fill, .gst-dark-scheme .gst-navbar-social .gst-icon-hover.gst-icon-fill-square {color: #fff;}
.gst-light-scheme .gst-navbar-social .gst-icon-hover.gst-icon-fill, .gst-light-scheme .gst-navbar-social .gst-icon-hover.gst-icon-fill-square {color: #fff;}.gst-navbar-search .gst-search-form input[type='text'] {border-color: #dfdfdf;}
.gst-dark-scheme .gst-navbar-search .gst-search-form input[type='text'] {border-color: #d3d3d3;}
.gst-light-scheme .gst-navbar-search .gst-search-form input[type='text'] {border-color: #dfdfdf;}
.gst-highlight-border .gst-topnav-menu > li > a:hover:after,
.gst-highlight-border .gst-sidenav-menu a:hover:after {
	background-color: #0068a2;
}

.gst-navbar-search .gst-search-form input[type='text']:focus {
	border-color: #0068a2 !important;
}

.gst-lines, .gst-lines:before, .gst-lines:after {background-color: #38332f;}
.gst-dark-scheme .gst-lines, .gst-dark-scheme .gst-lines:before, .gst-dark-scheme .gst-lines:after {background-color: #ffffff;}
.gst-light-scheme .gst-lines, .gst-light-scheme .gst-lines:before, .gst-light-scheme .gst-lines:after {background-color: #38332f;}
.gst-post-tag a:hover {
	color: #38332f;
}

.gst-post-featured--overlap .gst-main {
	background-color: #ffffff;
}

.gst-loading--fading-circle .gst-circle:before {
	background-color: #0068a2;
}

select {
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='20' xmlns='https://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.gst-dark-scheme select {
	background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='https://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.gst-light-scheme select {
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='20' xmlns='https://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.gst-button--layer > .btnx {
	box-shadow: 4px 4px #e4e4e4;
}

.gst-dark-scheme .gst-button--layer > .btnx,
.gst-slider-dark-scheme .gst-button--layer > .btnx {
	box-shadow: 4px 4px #454545;
}

.gst-light-scheme .gst-button--layer > .btnx,
.gst-slider-light-scheme .gst-button--layer > .btnx {
	box-shadow: 4px 4px #e4e4e4;
}


.slick-dots li button:before {
	color: #ccc;
}

.gst-dark-scheme .slick-dots li button:before,
.gst-slider-dark-scheme .slick-dots li button:before {
	color: #999;
}

.gst-light-scheme .slick-dots li button:before,
.gst-slider-light-scheme .slick-dots li button:before {
	color: #ccc;
}

.gst-pricing-item.highlighted {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.gst-dark-scheme .gst-pricing-item.highlighted {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.gst-light-scheme .gst-pricing-item.highlighted {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.tagcloud a:hover {
	box-shadow: 0 2px 6px rgba(0,0,0, 0.05);
}

.gst-dark-scheme .tagcloud a:hover {
	box-shadow: 0 2px 6px rgba(0,0,0, 0.3);
}

.gst-light-scheme .tagcloud a:hover {
	box-shadow: 0 2px 6px rgba(0,0,0, 0.05);
}

.gst-with-shadow {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.gst-dark-scheme .gst-with-shadow {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.gst-light-scheme .gst-with-shadow {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.gst-with-hover-shadow:hover {
	box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
}

.gst-dark-scheme .gst-with-hover-shadow:hover {
	box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
}

.gst-light-scheme .gst-with-hover-shadow:hover {
	box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
}

.woocommerce input.button:hover,
.woocommerce input.button:focus {
	background-color: #eee;
	border-color: #eee;
}


.gst-dropdown-menu li.active a {
	color: #0068a2;
}

.gst-dropdown-menu li:hover a {
	color: #fff;
}

.gst-dropdown-menu li:hover {
	background-color: #0068a2;
}

.gst-dropdown-display:focus,
.gst-dropdown-display:hover {
	color: #38332f;
}

.woocommerce .woocommerce-breadcrumb,
.woocommerce .woocommerce-title,
.woocommerce table.shop_attributes th,
.woocommerce [itemprop="author"],
.woocommerce .group_table .label a,
.woocommerce nav.woocommerce-pagination .page-numbers,
.woocommerce nav.woocommerce-pagination .page-numbers.current,
.woocommerce nav.woocommerce-pagination .page-numbers:hover,
.select2-container .select2-choice,
.woocommerce table.shop_table td,
.woocommerce table.cart .product-name a,
.woocommerce table.woocommerce-checkout-review-order-table td.product-name,
.woocommerce table.woocommerce-checkout-review-order-table td.product-total,
.woocommerce table.woocommerce-checkout-review-order-table .order-total th,
.woocommerce table.woocommerce-checkout-review-order-table .order-total td,
.woocommerce .cart-collaterals .cart_totals table .order-total th,
.woocommerce-page .cart-collaterals .cart_totals table .order-total th,
.woocommerce-account .myaccount_user,
.woocommerce-account fieldset {
	color: #38332f;
}

.woocommerce-variation-price, .woocommerce div.product .product_title, .woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce div.product p.price ins, .woocommerce div.product span.price ins, .woocommerce input.button:hover, .woocommerce input.button:focus {color: #38332f;}
.gst-dark-scheme .woocommerce-variation-price, .gst-dark-scheme .woocommerce div.product .product_title, .gst-dark-scheme .woocommerce div.product p.price, .gst-dark-scheme .woocommerce div.product span.price, .gst-dark-scheme .woocommerce div.product p.price ins, .gst-dark-scheme .woocommerce div.product span.price ins, .gst-dark-scheme .woocommerce input.button:hover, .gst-dark-scheme .woocommerce input.button:focus {color: #ffffff;}
.gst-light-scheme .woocommerce-variation-price, .gst-light-scheme .woocommerce div.product .product_title, .gst-light-scheme .woocommerce div.product p.price, .gst-light-scheme .woocommerce div.product span.price, .gst-light-scheme .woocommerce div.product p.price ins, .gst-light-scheme .woocommerce div.product span.price ins, .gst-light-scheme .woocommerce input.button:hover, .gst-light-scheme .woocommerce input.button:focus {color: #38332f;}.widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total, .woocommerce .widget_shopping_cart .total {color: #38332f;}
.gst-dark-scheme .widget_shopping_cart .total, .gst-dark-scheme .woocommerce.widget_shopping_cart .total, .gst-dark-scheme .woocommerce .widget_shopping_cart .total {color: #ffffff;}
.gst-light-scheme .widget_shopping_cart .total, .gst-light-scheme .woocommerce.widget_shopping_cart .total, .gst-light-scheme .woocommerce .widget_shopping_cart .total {color: #38332f;}
.gst-navbar-dropdown-dark-scheme .widget_shopping_cart .total, .gst-navbar-dropdown-dark-scheme .woocommerce.widget_shopping_cart .total, .gst-navbar-dropdown-dark-scheme .woocommerce .widget_shopping_cart .total {color: #ffffff;}
.gst-navbar-dropdown-light-scheme .widget_shopping_cart .total, .gst-navbar-dropdown-light-scheme .woocommerce.widget_shopping_cart .total, .gst-navbar-dropdown-light-scheme .woocommerce .widget_shopping_cart .total {color: #38332f;}
.woocommerce .woocommerce-breadcrumb a,
.woocommerce .woocommerce-breadcrumb span,
.woocommerce table.shop_table th,
.woocommerce table.woocommerce-checkout-review-order-table td,
.woocommerce table.woocommerce-checkout-review-order-table .shipping td label {
	color: #434343;
}

.select2-results li:hover {
	color: #fff;
}

.woocommerce span.onsale {color: #fff;}
.gst-dark-scheme .woocommerce span.onsale {color: #222;}
.gst-light-scheme .woocommerce span.onsale {color: #fff;}
.woocommerce .group_table .label a:hover,
.woocommerce .comment-form-rating p.stars a:before,
.woocommerce table.cart .product-name a:hover,
.woocommerce .addresses .edit {
	color: #0068a2;
}

.woocommerce .star-rating span {color: #0068a2;}
.gst-dark-scheme .woocommerce .star-rating span {color: #0068a2;}
.gst-light-scheme .woocommerce .star-rating span {color: #0068a2;}
.woocommerce .addresses .edit:hover {
	color: #60bb46;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button.alt,
.woocommerce #add_payment_method #payment .button,
.woocommerce .woocommerce-checkout #payment .button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button.alt:hover,
.woocommerce #add_payment_method #payment .button:hover,
.woocommerce .woocommerce-checkout #payment .button:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button.alt:focus,
.woocommerce #add_payment_method #payment .button:focus,
.woocommerce .woocommerce-checkout #payment .button:focus {
	color: #fff;
	background-color: #38332f;
	border-color: #38332f;
}

.woocommerce .select2-results {
	background-color: #ffffff;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {background-color: #ffffff;}
.gst-dark-scheme .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {background-color: #1d1d1d;}
.gst-light-scheme .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {background-color: #ffffff;}
.woocommerce table.shop_attributes th,
.woocommerce table.shop_attributes td,
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals,
.woocommerce-checkout .col-2,
.woocommerce form.login,
.woocommerce form.register {
	background-color: #f7f7f7;
}

.woocommerce input.button, .woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce .addresses > div {background-color: #f7f7f7;}
.gst-dark-scheme .woocommerce input.button, .gst-dark-scheme .woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .gst-dark-scheme .woocommerce .addresses > div {background-color: #040404;}
.gst-light-scheme .woocommerce input.button, .gst-light-scheme .woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .gst-light-scheme .woocommerce .addresses > div {background-color: #f7f7f7;}
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	background-color: transparent;
	border: 1px solid #dfdfdf;
}

.select2-results li:hover {
	background-color: #0068a2;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {background-color: #0068a2;}
.gst-dark-scheme .woocommerce .widget_price_filter .ui-slider .ui-slider-range {background-color: #0068a2;}
.gst-light-scheme .woocommerce .widget_price_filter .ui-slider .ui-slider-range {background-color: #0068a2;}
.woocommerce #reviews #comments ol.commentlist li,
.select2-container .select2-choice,
.select2-container-active .select2-choice,
.select2-search,
.select2-drop-active,
.woocommerce table.shop_table td,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce form.checkout_coupon,
.woocommerce form.login h3,
.woocommerce form.register h3,
.woocommerce .addresses header,
.woocommerce .cart-collaterals .cart_totals tr td,
.woocommerce .cart-collaterals .cart_totals tr th,
.woocommerce-page .cart-collaterals .cart_totals tr td,
.woocommerce-page .cart-collaterals .cart_totals tr th {
	border-color: #dfdfdf;
}

.woocommerce input.button, .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total, .woocommerce .widget_shopping_cart .total, .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {border-color: #dfdfdf;}
.gst-dark-scheme .woocommerce input.button, .gst-dark-scheme .widget_shopping_cart .total, .gst-dark-scheme .woocommerce.widget_shopping_cart .total, .gst-dark-scheme .woocommerce .widget_shopping_cart .total, .gst-dark-scheme .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {border-color: #d3d3d3;}
.gst-light-scheme .woocommerce input.button, .gst-light-scheme .widget_shopping_cart .total, .gst-light-scheme .woocommerce.widget_shopping_cart .total, .gst-light-scheme .woocommerce .widget_shopping_cart .total, .gst-light-scheme .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {border-color: #dfdfdf;}
.variations-radio input[type="radio"]:checked + .variations-radio-option,
.woocommerce-cart table.cart td.actions .coupon .input-text:focus,
.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link.is-active {
	border-color: #0068a2;
}

	.woocommerce #respond input#submit.alt:hover,
	.woocommerce a.button.alt:hover,
	.woocommerce button.button.alt:hover,
	.woocommerce #respond input#submit:hover,
	.woocommerce a.button:hover,
	.woocommerce button.button:hover,
	.woocommerce .added_to_cart:hover,
	.woocommerce-account input.button:hover {
		color: #fff;
		background-color: #60bb46;
		border-color: #60bb46;
	}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce .added_to_cart,
.woocommerce-account input.button {
	font-family:'Oswald', sans-serif; font-style:normal; font-weight:500;	border-radius: 0px;
	border-width: 1px;
	border-color: #0068a2;
	color: #fff;
	background-color: #0068a2;
	text-transform: uppercase;
}

.woocommerce input.button {
	font-family:'Oswald', sans-serif; font-style:normal; font-weight:500;	border-radius: 0px;
	border-width: 1px;
	text-transform: uppercase;
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
	color: #fff;
	background-color: #0068a2;
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
	width: 48%;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
	width: 46%;
}

@media only screen and (max-width: 768px) {
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary,
	.woocommerce #content div.product div.images,
	.woocommerce div.product div.images,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page div.product div.images {
		width: 100%;
	}
}

.gst-main > .gst-shop .gst-entries-content {
	margin-right: -15px;
	margin-left: -15px;
}

.gst-main > .gst-shop .gst-entry {
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 30px;
}


.gst-navbar-inner.gst-light-scheme,
nav.gst-navbar--alternate > .gst-light-scheme {
	background-color: #ffffff;
	border-color: #dfdfdf;
}

.gst-navbar-inner.gst-dark-scheme,
nav.gst-navbar--alternate > .gst-dark-scheme {
	background-color: #1d1d1d;
	border-color: #d3d3d3;
}

nav.gst-navbar--alternate .gst-topnav-menu > .menu-item > a,
nav.gst-navbar--alternate .gst-extra-menu a,
nav.gst-navbar--alternate .gst-navbar-social .gst-icon-normal {
	color: #38332f;
}

nav.gst-navbar--alternate .gst-navbar-social .gst-icon-normal.gst-icon-fill,
nav.gst-navbar--alternate .gst-navbar-social .gst-icon-normal.gst-icon-fill-square {
	background-color: #38332f;
	color: #fff;
}

nav.gst-navbar--alternate .gst-lines,
nav.gst-navbar--alternate .gst-lines:before,
nav.gst-navbar--alternate .gst-lines:after {
	background-color: #38332f;
}

.gst-navbar--light .gst-navbar-inner,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-navbar-inner {
	border-color: #dfdfdf;
}

.gst-navbar--light:not(.gst-navbar--alternate):not(.gst-side-navbar) .gst-navbar-logo--text,
.gst-navbar--light .gst-topnav-menu > .menu-item > a,
.gst-navbar--light .gst-extra-menu a,
.gst-navbar--light .gst-navbar-social .gst-icon-normal,
.gst-navbar--light .gst-side-navbar-nav .gst-navbar-logo--text,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-navbar-logo--text,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-topnav-menu > .menu-item > a,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-extra-menu a,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-navbar-social .gst-icon-normal {
	color: #38332f;
}

.gst-navbar--light .gst-navbar-social .gst-icon-normal.gst-icon-fill,
.gst-navbar--light .gst-navbar-social .gst-icon-normal.gst-icon-fill-square,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-navbar-social .gst-icon-normal.gst-icon-fill,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-navbar-social .gst-icon-normal.gst-icon-fill-square {
	background-color: #38332f;
	color: #fff;
}

.gst-navbar--light .gst-lines,
.gst-navbar--light .gst-lines:before,
.gst-navbar--light .gst-lines:after,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-lines,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-lines:before,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-lines:after {
	background-color: #38332f;
}

.gst-navbar--dark .gst-navbar-inner,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-navbar-inner {
	border-color: #d3d3d3;
}

.gst-navbar--dark:not(.gst-navbar--alternate):not(.gst-side-navbar) .gst-navbar-logo--text,
.gst-navbar--dark .gst-topnav-menu > .menu-item > a,
.gst-navbar--dark .gst-extra-menu a,
.gst-navbar--dark .gst-navbar-social .gst-icon-normal,
.gst-navbar--dark .gst-side-navbar-nav .gst-navbar-logo--text,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-navbar-logo--text,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-topnav-menu > .menu-item > a,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-extra-menu a,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-navbar-social .gst-icon-normal {
	color: #ffffff;
}

.gst-navbar--dark .gst-navbar-social .gst-icon-normal.gst-icon-fill,
.gst-navbar--dark .gst-navbar-social .gst-icon-normal.gst-icon-fill-square,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-navbar-social .gst-icon-normal.gst-icon-fill,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-navbar-social .gst-icon-normal.gst-icon-fill-square {
	background-color: #ffffff;
	color: #222;
}

.gst-navbar--dark .gst-lines,
.gst-navbar--dark .gst-lines:before,
.gst-navbar--dark .gst-lines:after,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-lines,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-lines:before,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-lines:after {
	background-color: #ffffff;
}

.gst-navbar--light .gst-topnav-menu > .menu-item > a:hover,
.gst-navbar--dark .gst-topnav-menu > .menu-item > a:hover,
.gst-navbar--light.gst-navbar--alternate.fixed-transparent .gst-topnav-menu > .menu-item > a:hover,
.gst-navbar--dark.gst-navbar--alternate.fixed-transparent .gst-topnav-menu > .menu-item > a:hover {
	color: #0068a2;
}

.gst-navbar-dropdown-light-scheme .sub-menu,
.gst-navbar-dropdown-light-scheme .gst-mega-menu,
.gst-navbar-dropdown-light-scheme .gst-cart-box {
	background-color: #f7f7f7;
}

.gst-navbar-dropdown-dark-scheme .sub-menu,
.gst-navbar-dropdown-dark-scheme .gst-mega-menu,
.gst-navbar-dropdown-dark-scheme .gst-cart-box {
	background-color: #040404;
}

.gst-topbar {
	background-color: #f7f7f7;
	border-color: #dfdfdf;
}

.gst-header-widgets {
	background-color: #040404;
}

.gst-offcanvas-overlay {
	cursor: url('https://web.visyt.app/wp-content/uploads/2019/04/logo.png'), crosshair;
}

img.gst-navbar-logo--image {
	max-width: 102px;
}

.gst-navbar--inline .gst-navbar-body-inner:first-child {
	padding-right: 91px;
}

.gst-navbar--inline .gst-navbar-body-inner:last-child {
	padding-left: 91px;
}

.gst-navbar-brand {
	}


.gst-navbar-brand {
	font-size: 28px;
}

.gst-navbar-brand {
	letter-spacing: 0.15em;
}

.gst-navbar-brand img.gst-fixed-nav-logo {
	max-width: 101px;
}

.gst-navbar--mobile img.gst-navbar-logo--image,
.gst-navbar--mobile img.gst-fixed-nav-logo {
	max-width: 88px;
}


.gst-layout--frame {
	padding: 30px;
}

.gst-layout--frame:not(.header-on-frame) .gst-navbar--fixed {
	top: 30px;
}

.gst-frame--top,
.gst-frame--bottom {
	height: 30px;
}

.gst-frame--left,
.gst-frame--right {
	width: 30px;
}

.gst-layout--frame .gst-side-navbar {
	top: 30px;
	bottom: 30px;
}

.gst-layout--frame .gst-side-navbar--left {
	left: 30px;
}

.gst-layout--frame .gst-side-navbar--right {
	right: 30px;
}

.gst-layout--frame .gst-navbar--fixed {
	right: 30px;
	left: 30px;
}

.gst-layout--frame .gst-collapsed-menu--offcanvas {
	top: 30px;
	right: 30px;
	bottom: 30px;
}

.gst-layout--frame .gst-wrapper--parallax-footer .gst-footer {
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 30px;
}

.gst-layout--frame.gst-layout--sidenav-fixed .gst-wrapper--parallax-footer .gst-footer {
	max-width: 70%;
	max-width: calc( 100% - 340px );
}

.gst-layout--frame.gst-layout--sidenav-full .gst-wrapper--parallax-footer .gst-footer {
	max-width: 87%;
	max-width: calc( 100% - 140px );
}

.gst-layout--frame.gst-layout--sidenav-minimal .gst-wrapper--parallax-footer .gst-footer {
	max-width: 95%;
	max-width: calc( 100% - 60px );
}

.gst-layout--wide .gst-container,
.gst-layout--frame .gst-container {
	max-width: 1400px;
	max-width: calc( 1200px + 10% );
}

.gst-layout--boxed .gst-wrapper {
	max-width: 1200px;
}

@media only screen and (min-width: 1200px ) {
	.gst-layout--boxed .gst-side-navbar--left {
		left: calc( 50% - 600px );
	}

	.gst-layout--boxed .gst-side-navbar--right {
		right: calc( 50% - 600px );
	}

	.gst-layout--boxed .gst-side-navbar--minimal.gst-side-navbar--left .gst-side-navbar-nav {
		left: calc( 50% - 570px );
	}

	.gst-layout--boxed .gst-side-navbar--minimal.gst-side-navbar--right .gst-side-navbar-nav {
		right: calc( 50% - 570px );
	}

	.gst-layout--boxed .gst-navbar--fixed {
		left: calc( 50% - 600px );
		max-width: 1200px;
	}

	.gst-layout--boxed .gst-wrapper--parallax-footer .gst-footer {
		max-width: 1200px;
	}

	.gst-layout--boxed.gst-layout--sidenav-full .gst-wrapper--parallax-footer .gst-footer {
		max-width: 1120px;
	}

	.gst-layout--boxed.gst-layout--sidenav-fixed .gst-wrapper--parallax-footer .gst-footer {
		max-width: 920px;
	}
}

.gst-container {
	padding-right: 5%;
	padding-left: 5%;
}

.gst-main {
	width: 75%;
}

.gst-sidebar {
	width: 25%;
}

.gst-sidebar,
.gst-main.blueprint-inactive {
	padding-top: 60px;
	padding-bottom: 60px;
}







.gst-layout--boxed .gst-wrapper {
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

body {
	font-family:'Poppins', sans-serif; font-style:normal; font-weight:normal;	font-size: 15px;
}

select,
textarea,
input,
.gst-banner-content-inner,
.gst-section-wrapper,
.gst-box-content {
	font-size: 15px;
}

h1 {
	font-size: 44px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

button,
input[type=button],
input[type=submit],
.btnx {
	font-family:'Oswald', sans-serif; font-style:normal; font-weight:500;	text-transform: uppercase;
}

button,
input[type=button],
input[type=submit] {
	padding: 16.5px 32px;
	border-radius: 0px;
	border-width: 1px;
	color: #fff;
	background-color: #0068a2;
	border-color: #0068a2;
}

.gst-button > .btnx {
	border-radius: 0px;
	border-width: 1px;
}

	button:hover,
	input[type=button]:hover,
	input[type=submit]:hover,
	button:focus,
	input[type=button]:focus,
	input[type=submit]:focus {
		color: #fff;
		background-color: #60bb46;
		border-color: #60bb46;
	}


.gst-loading img {
	max-width: 80px;
}



select[disabled], select[readonly], select fieldset[disabled], textarea[disabled], textarea[readonly], textarea fieldset[disabled], input[disabled], input[readonly], input fieldset[disabled] {color: #38332f; background-color: #f7f7f7; background-color: rgba(247,247,247,0.5);}
.gst-dark-scheme select[disabled], .gst-dark-scheme select[readonly], .gst-dark-scheme select fieldset[disabled], .gst-dark-scheme textarea[disabled], .gst-dark-scheme textarea[readonly], .gst-dark-scheme textarea fieldset[disabled], .gst-dark-scheme input[disabled], .gst-dark-scheme input[readonly], .gst-dark-scheme input fieldset[disabled] {color: #ffffff; background-color: #040404; background-color: rgba(4,4,4,0.5);}
.gst-light-scheme select[disabled], .gst-light-scheme select[readonly], .gst-light-scheme select fieldset[disabled], .gst-light-scheme textarea[disabled], .gst-light-scheme textarea[readonly], .gst-light-scheme textarea fieldset[disabled], .gst-light-scheme input[disabled], .gst-light-scheme input[readonly], .gst-light-scheme input fieldset[disabled] {color: #38332f; background-color: #f7f7f7; background-color: rgba(247,247,247,0.5);}input, textarea, select {color: #38332f; border-color: #dfdfdf;}
.gst-dark-scheme input, .gst-dark-scheme textarea, .gst-dark-scheme select {color: #ffffff; border-color: #d3d3d3;}
.gst-light-scheme input, .gst-light-scheme textarea, .gst-light-scheme select {color: #38332f; border-color: #dfdfdf;}input:focus, textarea:focus, select:focus, .picker__input.picker__input--active {border-color: #0068a2;}
.gst-dark-scheme input:focus, .gst-dark-scheme textarea:focus, .gst-dark-scheme select:focus, .gst-dark-scheme .picker__input.picker__input--active {border-color: #0068a2;}
.gst-light-scheme input:focus, .gst-light-scheme textarea:focus, .gst-light-scheme select:focus, .gst-light-scheme .picker__input.picker__input--active {border-color: #0068a2;}
input,
textarea,
select,
.gst-reservation input[readonly],
.gst-opentable input[readonly] {
	background-color: transparent;
}


.gst-navbar--custom {
	height: 82px;
	line-height: 82px;
}

.gst-content-wrapper,
.gst-wrapper--header-transparent .gst-content-wrapper > .gst-page-title {
	padding-top: 82px;
}

.gst-layout--topnav-stacked .gst-content-wrapper,
.gst-layout--topnav-stacked .gst-wrapper--header-transparent .gst-content-wrapper > .gst-page-title {
	padding-top: 115px;
}

.gst-layout--sidenav .gst-content-wrapper,
.gst-layout--sidenav .gst-wrapper--header-transparent .gst-content-wrapper > .gst-page-title {
	padding-top: 0px;
}

.gst-wrapper--header-transparent .gst-post-featured--fullwidth .gst-page-title,
.gst-wrapper--header-transparent .gst-post-featured--overlap .gst-page-title {
	top: 82px;
}

.gst-layout--topnav-stacked .gst-wrapper--header-transparent .gst-post-featured--fullwidth .gst-page-title,
.gst-layout--topnav-stacked .gst-wrapper--header-transparent .gst-post-featured--overlap .gst-page-title {
	top: 115px;
}

.gst-layout--sidenav .gst-wrapper--header-transparent .gst-post-featured--fullwidth .gst-page-title,
.gst-layout--sidenav .gst-wrapper--header-transparent .gst-post-featured--overlap .gst-page-title {
	top: 0px;
}

.gst-navbar--stacked .gst-navbar-content,
.gst-navbar--stacked.gst-navbar--fixed .gst-navbar-header {
	height: 90px;
	line-height: 90px;
}


.gst-navbar .gst-navbar-inner,
.gst-navbar--mobile .gst-navbar-inner {
	border-bottom-width: 0px;
}

.gst-topnav-menu > li > .gst-mega-menu,
.gst-topnav-menu > li > .sub-menu {
	margin-top: 0px;
}





.gst-navbar .gst-navbar-inner,
.gst-navbar--mobile .gst-navbar-inner {
	background-color: rgba(255,255,255,0.72);
}

.gst-navbar .gst-topnav-menu > .menu-item > a,
.gst-navbar .gst-extra-menu a,
.gst-navbar .gst-navbar-social .gst-icon-normal,
.gst-navbar--mobile .gst-navbar-social .gst-icon-normal {
	color: #1f1f1f;
}

.gst-navbar .gst-navbar-social .gst-icon-normal.gst-icon-fill,
.gst-navbar .gst-navbar-social .gst-icon-normal.gst-icon-fill-square,
.gst-navbar--mobile .gst-navbar-social .gst-icon-normal.gst-icon-fill,
.gst-navbar--mobile .gst-navbar-social .gst-icon-normal.gst-icon-fill-square {
	background-color: #1f1f1f;
	color: #fff;
}

.gst-navbar .gst-lines,
.gst-navbar .gst-lines:before,
.gst-navbar .gst-lines:after,
.gst-navbar--mobile .gst-lines,
.gst-navbar--mobile .gst-lines:before,
.gst-navbar--mobile .gst-lines:after {
	background-color: #1f1f1f;
}

.gst-sidenav-menu .current-menu-parent .gst-mega-menu-title a,
.gst-fullnav-menu .current-menu-parent .gst-mega-menu-title a,
.gst-classicnav-menu .current-menu-parent .gst-mega-menu-title a,
.gst-navbar--light .gst-topnav-menu > .current-menu-ancestor > a,
.gst-navbar--light .gst-topnav-menu > .current-menu-parent > a,
.gst-navbar--light .gst-topnav-menu > .current-menu-item > a,
.gst-navbar--dark .gst-topnav-menu > .current-menu-ancestor > a,
.gst-navbar--dark .gst-topnav-menu > .current-menu-parent > a,
.gst-navbar--dark .gst-topnav-menu > .current-menu-item > a {
	color: #0068a2;
}

.gst-navbar .gst-topnav-menu > .current-menu-item > a,
.gst-navbar .gst-topnav-menu > .current-menu-parent > a,
.gst-navbar .gst-topnav-menu > .current-menu-ancestor > a {
	color: #60bb46;
}

.gst-navbar .gst-topnav-menu > .menu-item > a:hover,
.gst-navbar .gst-extra-menu a:hover,
.gst-navbar .gst-navbar-social .gst-icon-hover,
.gst-navbar--mobile .gst-navbar-social .gst-icon-hover {
	color: #60bb46;
}

.gst-navbar .gst-navbar-social .gst-icon-hover.gst-icon-fill,
.gst-navbar .gst-navbar-social .gst-icon-hover.gst-icon-fill-square,
.gst-navbar--mobile .gst-navbar-social .gst-icon-hover.gst-icon-fill,
.gst-navbar--mobile .gst-navbar-social .gst-icon-hover.gst-icon-fill-square {
	background-color: #60bb46;
	color: #fff;
}

.gst-topnav-menu .menu-item a {
	font-family:'Roboto', sans-serif; font-style:normal; font-weight:normal;}

.gst-topnav-menu > .menu-item > a {
	text-transform: uppercase;
}

.gst-topnav-menu > .menu-item > a {
	font-size: 12px;
}

.gst-topnav-menu > .menu-item > a {
	letter-spacing: 0.1em;
}


.gst-topnav-menu .sub-menu {
	text-transform: none;
}

.gst-topnav-menu .sub-menu a,
.gst-topnav-menu .gst-mega-menu-title a {
	font-size: 12px;
}


.gst-topnav-menu > li > .sub-menu,
.gst-topnav-menu > li > .sub-menu .sub-menu {
	min-width: 220px;
}









.gst-sidenav-menu .menu-item a {
	font-family:'Oswald', sans-serif; font-style:normal; font-weight:500;}

.gst-sidenav-menu .menu-item a {
	text-transform: uppercase;
}

.gst-sidenav-menu .menu-item a {
	font-size: 15px;
}

.gst-sidenav-menu .menu-item a {
	letter-spacing: -0.03em;
}

.gst-collapsed-menu.gst-collapsed-menu--full {
	background-color: rgba(4,4,4,0.95);
}
.gst-collapsed-button--full.gst-closed .gst-lines:before,
.gst-collapsed-button--full.gst-closed .gst-lines:after {
	background-color: #fff !important;
}
.gst-collapsed-button--full.gst-closed .gst-lines:before, .gst-collapsed-button--full.gst-closed .gst-lines:after {background-color: #222;}
.gst-dark-scheme .gst-collapsed-button--full.gst-closed .gst-lines:before, .gst-dark-scheme .gst-collapsed-button--full.gst-closed .gst-lines:after {background-color: #fff;}
.gst-light-scheme .gst-collapsed-button--full.gst-closed .gst-lines:before, .gst-light-scheme .gst-collapsed-button--full.gst-closed .gst-lines:after {background-color: #222;}

.gst-fullnav-menu .menu-item a  {
	color: #ffffff;
}

.gst-fullnav-menu .current-menu-item > a,
.gst-fullnav-menu .current-menu-parent > a,
.gst-fullnav-menu .current-menu-ancestor > a,
.gst-fullnav-menu .current-menu-parent .gst-mega-menu-title a {
	color: #0068a2;
}

.gst-fullnav-menu .menu-item a:hover {
	color: #707070;
}

.gst-fullnav-menu .menu-item a {
	font-family:'Oswald', sans-serif; font-style:normal; font-weight:500;}

.gst-fullnav-menu .menu-item a {
	font-size: 24px;
}

.gst-fullnav-menu .menu-item a {
	letter-spacing: 0.05em;
}

.gst-navbar--mobile .menu-item a {
	font-family:'Oswald', sans-serif; font-style:normal; font-weight:500;}

.gst-navbar--mobile .menu-item a {
	text-transform: uppercase;
}

.gst-navbar--mobile .menu-item a {
	font-size: 18px;
}

.gst-navbar--mobile .menu-item a {
	letter-spacing: 0.05em;
}






.gst-navbar--alternate {
	height: 70px;
	line-height: 70px;
}

.gst-navbar--alternate .gst-navbar-inner {
	border-bottom-width: 0px;
}

.gst-navbar--alternate .gst-topnav-menu > li > .gst-mega-menu {
	margin-top: 0px;
}


.gst-navbar--fixed.gst-navbar--alternate .gst-navbar-inner {
	background-color: rgba(255,255,255,1);
}

.gst-navbar--alternate .gst-topnav-menu > .menu-item > a {
	font-size: 12px;
}


.gst-navbar--top.gst-navbar--fixed.gst-navbar--alternate .gst-topnav-menu > .current-menu-item > a,
.gst-navbar--top.gst-navbar--fixed.gst-navbar--alternate .gst-topnav-menu > .current-menu-parent > a,
.gst-navbar--top.gst-navbar--fixed.gst-navbar--alternate .gst-topnav-menu > .current-menu-ancestor > a {
	color: #0068a2;
}

.gst-navbar--top.gst-navbar--fixed.gst-navbar--alternate .gst-topnav-menu > .menu-item > a:hover,
.gst-navbar--top.gst-navbar--fixed.gst-navbar--alternate .gst-extra-menu a:hover,
.gst-navbar--top.gst-navbar--fixed.gst-navbar--alternate .gst-navbar-social .gst-icon-hover {
	color: #0068a2;
}

.gst-navbar--top.gst-navbar--fixed.gst-navbar--alternate .gst-navbar-social .gst-icon-hover.gst-icon-fill,
.gst-navbar--top.gst-navbar--fixed.gst-navbar--alternate .gst-navbar-social .gst-icon-hover.gst-icon-fill-square {
	background-color: #0068a2;
	color: #fff;
}

.gst-topbar {
	height: 36px;
	line-height: 36px;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
	.gst-layout-responsive .mobile-topbar-enable .gst-content-wrapper,
	.gst-layout-responsive.gst-layout--topnav-stacked .mobile-topbar-enable .gst-content-wrapper,
	.gst-layout-responsive.gst-layout--sidenav .mobile-topbar-enable .gst-content-wrapper,
	.gst-layout-responsive .gst-wrapper--header-transparent.mobile-topbar-enable .gst-content--no-header .gst-content-wrapper,
	.gst-layout-responsive .gst-wrapper--header-transparent.mobile-topbar-enable .gst-content-wrapper > .gst-page-title,
	.gst-layout-responsive.gst-layout--topnav-stacked .gst-wrapper--header-transparent.mobile-topbar-enable .gst-content-wrapper > .gst-page-title,
	.gst-layout-responsive.gst-layout--sidenav .gst-wrapper--header-transparent.mobile-topbar-enable .gst-content-wrapper > .gst-page-title {
		padding-top: 96px;
	}

	.gst-layout-responsive .gst-wrapper--header-transparent.mobile-topbar-enable .gst-post-featured--fullwidth .gst-page-title,
	.gst-layout-responsive .gst-wrapper--header-transparent.mobile-topbar-enable .gst-post-featured--overlap .gst-page-title,
	.gst-layout-responsive.gst-layout--topnav-stacked .gst-wrapper--header-transparent.mobile-topbar-enable .gst-post-featured--fullwidth .gst-page-title,
	.gst-layout-responsive.gst-layout--topnav-stacked .gst-wrapper--header-transparent.mobile-topbar-enable .gst-post-featured--overlap .gst-page-title,
	.gst-layout-responsive.gst-layout--sidenav .gst-wrapper--header-transparent.mobile-topbar-enable .gst-post-featured--fullwidth .gst-page-title,
	.gst-layout-responsive.gst-layout--sidenav .gst-wrapper--header-transparent.mobile-topbar-enable .gst-post-featured--overlap .gst-page-title {
		top: 96px;
	}
}

@media only screen and (max-width: 767px) {
	.mobile-topbar-enable .gst-topbar {
		height: 72px;
	}

	.gst-layout-responsive .mobile-topbar-enable .gst-content-wrapper,
	.gst-layout-responsive.gst-layout--topnav-stacked .mobile-topbar-enable .gst-content-wrapper,
	.gst-layout-responsive.gst-layout--sidenav .mobile-topbar-enable .gst-content-wrapper,
	.gst-layout-responsive .gst-wrapper--header-transparent.mobile-topbar-enable .gst-content--no-header .gst-content-wrapper,
	.gst-layout-responsive .gst-wrapper--header-transparent.mobile-topbar-enable .gst-content-wrapper > .gst-page-title,
	.gst-layout-responsive.gst-layout--topnav-stacked .gst-wrapper--header-transparent.mobile-topbar-enable .gst-content-wrapper > .gst-page-title,
	.gst-layout-responsive.gst-layout--sidenav .gst-wrapper--header-transparent.mobile-topbar-enable .gst-content-wrapper > .gst-page-title {
		padding-top: 132px;
	}

	.gst-layout-responsive .gst-wrapper--header-transparent.mobile-topbar-enable .gst-post-featured--fullwidth .gst-page-title,
	.gst-layout-responsive .gst-wrapper--header-transparent.mobile-topbar-enable .gst-post-featured--overlap .gst-page-title,
	.gst-layout-responsive.gst-layout--topnav-stacked .gst-wrapper--header-transparent.mobile-topbar-enable .gst-post-featured--fullwidth .gst-page-title,
	.gst-layout-responsive.gst-layout--topnav-stacked .gst-wrapper--header-transparent.mobile-topbar-enable .gst-post-featured--overlap .gst-page-title,
	.gst-layout-responsive.gst-layout--sidenav .gst-wrapper--header-transparent.mobile-topbar-enable .gst-post-featured--fullwidth .gst-page-title,
	.gst-layout-responsive.gst-layout--sidenav .gst-wrapper--header-transparent.mobile-topbar-enable .gst-post-featured--overlap .gst-page-title {
		top: 132px;
	}
}


.gst-topbar {
	border-bottom-width: 0px;
}








.gst-header-widgets .gst-header-widgets-column {
	border-right-width: 1px;
	border-right-style: solid;
}

.gst-navbar-widget.gst-button > .btnx {
	border-radius: 0px;
	border-width: 1px;
}









.gst-page-title .gst-background-overlay {
	background-color: rgba(4,4,4,0.5);
}

.gst-page-title--default .gst-background-inner {
	background-image:url(http://www.gastrotheme.com/sushi/wp-content/uploads/sites/5/2017/05/gastro-sushi-theme-06.jpg); background-size:cover; background-position:center center; background-repeat:repeat;}
