/* style-custom.css */

table {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eeeeee;
}

th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eeeeee;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Poppins', sans-serif; font-style:normal; font-weight:600;
}

.gst-primary-font {
	font-family:'Open Sans', sans-serif; font-style:normal; font-weight:normal;
}

.gst-secondary-font {
	font-family:'Poppins', sans-serif; font-style:normal; font-weight:600;
}

body {
	color: #676767;
	background-color: #ffffff;
}

::selection {
	color: #222;
	background-color: #f8c12e;
}

::-moz-selection {
	color: #222;
	background-color: #f8c12e;
}

a,
a:hover.gst-s-text-color,
a:hover.gst-p-text-color,
.comment-form-rating p.stars a:before,
.comment-rating > span,
.comment-like-dislike a:visited {
	color: #f8c12e;
}

a:hover,
a:focus,
a:active,
a:hover.gst-p-brand-color {
	color: #260000;
}

a:focus.gst-s-text-color {
	color: #1d1d1d;
}

a:focus.gst-p-text-color {
	color: #676767;
}

.btnx,
ins, code, kbd, tt {
	color: #f8c12e;
}

.btnx:hover,
.btnx:focus {
	color: #260000;
}

a:hover.gst-p-bg-color {color: #f7f7f7;}
.gst-dark-scheme a:hover.gst-p-bg-color {color: #000000;}
.gst-light-scheme a:hover.gst-p-bg-color {color: #f7f7f7;}label {color: #676767;}
.gst-dark-scheme label {color: #cdcdcd;}
.gst-light-scheme label {color: #676767;}pre, cite, mark, h1, h2, h3, h4, h5, h6, .gst-text-bullet.decimal li:before {color: #1d1d1d;}
.gst-dark-scheme pre, .gst-dark-scheme cite, .gst-dark-scheme mark, .gst-dark-scheme h1, .gst-dark-scheme h2, .gst-dark-scheme h3, .gst-dark-scheme h4, .gst-dark-scheme h5, .gst-dark-scheme h6, .gst-dark-scheme .gst-text-bullet.decimal li:before {color: #ffffff;}
.gst-light-scheme pre, .gst-light-scheme cite, .gst-light-scheme mark, .gst-light-scheme h1, .gst-light-scheme h2, .gst-light-scheme h3, .gst-light-scheme h4, .gst-light-scheme h5, .gst-light-scheme h6, .gst-light-scheme .gst-text-bullet.decimal li:before {color: #1d1d1d;}code, kbd, tt, pre {background-color: #f7f7f7;}
.gst-dark-scheme code, .gst-dark-scheme kbd, .gst-dark-scheme tt, .gst-dark-scheme pre {background-color: #000000;}
.gst-light-scheme code, .gst-light-scheme kbd, .gst-light-scheme tt, .gst-light-scheme pre {background-color: #f7f7f7;}pre {border-color: #eeeeee;}
.gst-dark-scheme pre {border-color: #333333;}
.gst-light-scheme pre {border-color: #eeeeee;}
.gst-light-scheme,
.gst-entry-light-scheme,
.gst-slider-light-scheme {
	color: #676767;
}

.gst-dark-scheme,
.gst-entry-dark-scheme,
.gst-slider-dark-scheme {
	color: #cdcdcd;
}

.gst-p-brand-color {
	color: #f8c12e;
}

.gst-p-brand-bg {
	background-color: #f8c12e;
}

.gst-p-brand-border,
.widget .gst-menu.anchor .menu-item.current-menu-item > a {
	border-color: #f8c12e;
}

.gst-s-brand-color {
	color: #260000;
}

.gst-s-brand-bg {
	background-color: #260000;
}

.gst-s-brand-border {
	border-color: #260000;
}

.gst-p-brand-contrast-color {
	color: #222;
}

.gst-s-brand-contrast-color {
	color: #fff;
}

.gst-p-text-contrast-color {color: #fff;}
.gst-s-text-contrast-color {color: #fff;}
.gst-p-text-color {color: #676767;}
.gst-p-text-bg {background-color: #676767;}
.gst-s-text-color {color: #1d1d1d;}
.gst-s-text-bg {background-color: #1d1d1d;}
.gst-s-text-bg.gst-overlay {background-color: #1d1d1d; background-color: rgba(29,29,29,0.9);}
.gst-s-text-border {border-color: #1d1d1d;}
.gst-p-bg-color {color: #ffffff;}
.gst-p-bg-bg {background-color: #ffffff;}
.gst-p-bg-border {border-color: #ffffff;}
.gst-s-bg-color {color: #f7f7f7;}
.gst-s-bg-bg {background-color: #f7f7f7;}
.gst-s-bg-border {border-color: #f7f7f7;}
.gst-p-border-color {color: #eeeeee;}
.gst-p-border-bg {background-color: #eeeeee;}
.gst-p-border-border {border-color: #eeeeee;}
.gst-overlay {background-color: #ffffff; background-color: rgba(255,255,255,0.9);}
.gst-button--border.gst-button-color--brand > .btnx, .gst-button--fill.gst-button-hover--inverse > .btnx:hover {color: #f8c12e; border-color: #f8c12e;}
.gst-button--border.gst-button-hover--brand > .btnx:hover {color: #260000; border-color: #260000;}
.gst-form-group input[type=submit], .gst-button--layer.gst-button-color--brand > .btnx, .gst-button--fill.gst-button-color--brand > .btnx, .gst-button--border.gst-button-hover--inverse > .btnx:hover {color: #222; border-color: #f8c12e; background-color: #f8c12e;}
.gst-form-group input[type=submit]:hover, .gst-button--fill.gst-button-hover--brand > .btnx:hover {color: #fff; border-color: #260000; background-color: #260000;}
.gst-button-color--basic.gst-button--border > .btnx, .gst-button-color--basic.gst-button--fill.gst-button-hover--inverse > .btnx:hover {color: #1d1d1d; border-color: #1d1d1d;}
.gst-button-color--basic.gst-button--layer > .btnx, .gst-button-color--basic.gst-button--fill > .btnx, .gst-button-color--basic.gst-button--border.gst-button-hover--inverse > .btnx:hover {color: #fff; border-color: #1d1d1d; background-color: #1d1d1d;}
.gst-button-color--basic.gst-button--border.gst-button-hover--brand > .btnx:hover {color: #f8c12e; border-color: #f8c12e;}
.gst-button-color--basic.gst-button--fill.gst-button-hover--brand > .btnx:hover {color: #222; border-color: #f8c12e; background-color: #f8c12e;}
.gst-tab--button .gst-tab-nav .active {background-color: #f8c12e;}
.gst-tab--button .gst-tab-nav .active > .gst-tab-nav-title {color: #222;}

.widget .tagcloud a, .widget_calendar tbody, .widget a .gst-widget-meta, .widget a .gst-widget-category {color: #676767;}
.widget a, .widget.widget_calendar a, .widget_calendar thead {color: #1d1d1d;}
.widget a:hover, .widget.widget_calendar tfoot a, .widget .gst-widget-viewall, .gst-widget-feature a {color: #f8c12e;}
.widget .gst-widget-viewall:hover, .gst-widget-feature a:hover {color: #260000;}
.tagcloud a {background-color: #ffffff;}
.widget_calendar #today {color: #222; background-color: #f8c12e;}
.tagcloud a, .widget_calendar caption {border-color: #eeeeee;}
.gst-entries--layer .gst-entry-inner {
	box-shadow: 5px 5px 0px 0px rgba(248,193,46,0.8);
}

.gst-entry-flash span.onsale {color: #fff;}
.gst-entry-title a:hover,
.gst-entry-meta a:hover,
.gst-relatedpost .gst-entry:hover .gst-entry-title {color: #f8c12e;}
.gst-entry .more-link {
	color: #f8c12e;
}

.gst-entry .more-link:hover {
	color: #260000;
}

.slick-dots li.slick-active button:before {color: #1d1d1d;}

.gst-carousel-arrow {color: #fff; background-color: #1d1d1d; background-color: rgba(29,29,29,0.7);}

.gst-carousel-arrow.transparent {color: #1d1d1d;}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {background-color: #eeeeee;}

.gst-pagination .page-numbers, .gst-filter-list > .active, .gst-filter-list > a:focus {color: #1d1d1d;}

.gst-filter-list > .active:after, .page-numbers.current:after {background-color: #1d1d1d;}

.gst-button--fill .btnx .gst-bounce, .gst-button--border.gst-button-hover--inverse .btnx:hover .gst-bounce {background-color: #222;}

.with-border {border-color: #eeeeee;}
.gst-menu a, .gst-extra-menu a, .gst-navbar-brand, .gst-navbar-social .gst-icon-normal {color: #1d1d1d;}
.gst-navbar-social .gst-icon-normal.gst-icon-fill, .gst-navbar-social .gst-icon-normal.gst-icon-fill-square {background-color: #1d1d1d;}
.gst-navbar-social .gst-icon-normal.gst-icon-fill, .gst-navbar-social .gst-icon-normal.gst-icon-fill-square {color: #fff;}
.sub-menu a, .gst-cart-box {color: #676767;}
.gst-navbar-dropdown-dark-scheme .sub-menu a {color: #cdcdcd;}
.gst-navbar-dropdown-light-scheme .sub-menu a {color: #676767;}
strong, .gst-mega-menu-title a, .gst-cart-box a, .mini_cart_item > * {color: #1d1d1d;}

.gst-menu a:hover, .gst-extra-menu a:hover, .gst-navbar-social .gst-icon-hover, .current-menu-item > a, .current-menu-parent > a, .current-menu-ancestor > a {color: #f8c12e;}

.gst-mega-menu-title a:hover {color: #1d1d1d;}
.gst-navbar-dropdown-dark-scheme .gst-mega-menu-title a:hover {color: #ffffff;}
.gst-navbar-dropdown-light-scheme .gst-mega-menu-title a:hover {color: #1d1d1d;}
.gst-topnav-menu .sub-menu a:hover {color: #1d1d1d; background-color: #ffffff;}
.gst-dark-scheme .gst-topnav-menu .sub-menu a:hover {color: #ffffff; background-color: #1d1d1d;}
.gst-light-scheme .gst-topnav-menu .sub-menu a:hover {color: #1d1d1d; background-color: #ffffff;}
.gst-navbar-dropdown-dark-scheme .gst-topnav-menu .sub-menu a:hover {color: #ffffff; background-color: #1d1d1d;}
.gst-navbar-dropdown-light-scheme .gst-topnav-menu .sub-menu a:hover {color: #1d1d1d; background-color: #ffffff;}
.gst-navbar-social .gst-icon-hover.gst-icon-fill, .gst-navbar-social .gst-icon-hover.gst-icon-fill-square {background-color: #f8c12e;}
.gst-dark-scheme .gst-navbar-social .gst-icon-hover.gst-icon-fill, .gst-dark-scheme .gst-navbar-social .gst-icon-hover.gst-icon-fill-square {background-color: #f8c12e;}
.gst-light-scheme .gst-navbar-social .gst-icon-hover.gst-icon-fill, .gst-light-scheme .gst-navbar-social .gst-icon-hover.gst-icon-fill-square {background-color: #f8c12e;}.gst-navbar-social .gst-icon-hover.gst-icon-fill, .gst-navbar-social .gst-icon-hover.gst-icon-fill-square {color: #222;}
.gst-dark-scheme .gst-navbar-social .gst-icon-hover.gst-icon-fill, .gst-dark-scheme .gst-navbar-social .gst-icon-hover.gst-icon-fill-square {color: #222;}
.gst-light-scheme .gst-navbar-social .gst-icon-hover.gst-icon-fill, .gst-light-scheme .gst-navbar-social .gst-icon-hover.gst-icon-fill-square {color: #222;}.gst-navbar-search .gst-search-form input[type='text'] {border-color: #eeeeee;}
.gst-dark-scheme .gst-navbar-search .gst-search-form input[type='text'] {border-color: #333333;}
.gst-light-scheme .gst-navbar-search .gst-search-form input[type='text'] {border-color: #eeeeee;}
.gst-highlight-border .gst-topnav-menu > li > a:hover:after,
.gst-highlight-border .gst-sidenav-menu a:hover:after {
	background-color: #f8c12e;
}

.gst-navbar-search .gst-search-form input[type='text']:focus {
	border-color: #f8c12e !important;
}

.gst-lines, .gst-lines:before, .gst-lines:after {background-color: #1d1d1d;}
.gst-dark-scheme .gst-lines, .gst-dark-scheme .gst-lines:before, .gst-dark-scheme .gst-lines:after {background-color: #ffffff;}
.gst-light-scheme .gst-lines, .gst-light-scheme .gst-lines:before, .gst-light-scheme .gst-lines:after {background-color: #1d1d1d;}
.gst-post-tag a:hover {
	color: #1d1d1d;
}

.gst-post-featured--overlap .gst-main {
	background-color: #ffffff;
}

.gst-loading--fading-circle .gst-circle:before {
	background-color: #f8c12e;
}

select {
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.gst-button--layer > .btnx {
	box-shadow: 4px 4px #e4e4e4;
}

.gst-dark-scheme .gst-button--layer > .btnx,
.gst-slider-dark-scheme .gst-button--layer > .btnx {
	box-shadow: 4px 4px #454545;
}

.gst-light-scheme .gst-button--layer > .btnx,
.gst-slider-light-scheme .gst-button--layer > .btnx {
	box-shadow: 4px 4px #e4e4e4;
}

.slick-dots li button:before {
	color: #ccc;
}

.gst-dark-scheme .slick-dots li button:before,
.gst-slider-dark-scheme .slick-dots li button:before {
	color: #999;
}

.gst-light-scheme .slick-dots li button:before,
.gst-slider-light-scheme .slick-dots li button:before {
	color: #ccc;
}

.gst-pricing-item.highlighted {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.gst-dark-scheme .gst-pricing-item.highlighted {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.gst-light-scheme .gst-pricing-item.highlighted {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.tagcloud a:hover {
	box-shadow: 0 2px 6px rgba(0,0,0, 0.05);
}

.gst-dark-scheme .tagcloud a:hover {
	box-shadow: 0 2px 6px rgba(0,0,0, 0.3);
}

.gst-light-scheme .tagcloud a:hover {
	box-shadow: 0 2px 6px rgba(0,0,0, 0.05);
}

.gst-with-shadow {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.gst-dark-scheme .gst-with-shadow {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.gst-light-scheme .gst-with-shadow {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.gst-with-hover-shadow:hover {
	box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
}

.gst-dark-scheme .gst-with-hover-shadow:hover {
	box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
}

.gst-light-scheme .gst-with-hover-shadow:hover {
	box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
}

.gst-dropdown-menu li.active a {
	color: #f8c12e;
}

.gst-dropdown-menu li:hover a {
	color: #222;
}

.gst-dropdown-menu li:hover {
	background-color: #f8c12e;
}

.gst-dropdown-display:focus,
.gst-dropdown-display:hover {
	color: #1d1d1d;
}

.select2-results li:hover {
	color: #222;
}

.gst-navbar-inner.gst-light-scheme,
nav.gst-navbar--alternate > .gst-light-scheme {
	background-color: #ffffff;
	border-color: #eeeeee;
}

.gst-navbar-inner.gst-dark-scheme,
nav.gst-navbar--alternate > .gst-dark-scheme {
	background-color: #1d1d1d;
	border-color: #333333;
}

nav.gst-navbar--alternate .gst-topnav-menu > .menu-item > a,
nav.gst-navbar--alternate .gst-extra-menu a,
nav.gst-navbar--alternate .gst-navbar-social .gst-icon-normal {
	color: #1d1d1d;
}

nav.gst-navbar--alternate .gst-navbar-social .gst-icon-normal.gst-icon-fill,
nav.gst-navbar--alternate .gst-navbar-social .gst-icon-normal.gst-icon-fill-square {
	background-color: #1d1d1d;
	color: #fff;
}

nav.gst-navbar--alternate .gst-lines,
nav.gst-navbar--alternate .gst-lines:before,
nav.gst-navbar--alternate .gst-lines:after {
	background-color: #1d1d1d;
}

.gst-navbar--light .gst-navbar-inner,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-navbar-inner {
	border-color: #eeeeee;
}

.gst-navbar--light:not(.gst-navbar--alternate):not(.gst-side-navbar) .gst-navbar-logo--text,
.gst-navbar--light .gst-topnav-menu > .menu-item > a,
.gst-navbar--light .gst-extra-menu a,
.gst-navbar--light .gst-navbar-social .gst-icon-normal,
.gst-navbar--light .gst-side-navbar-nav .gst-navbar-logo--text,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-navbar-logo--text,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-topnav-menu > .menu-item > a,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-extra-menu a,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-navbar-social .gst-icon-normal {
	color: #1d1d1d;
}

.gst-navbar--light .gst-navbar-social .gst-icon-normal.gst-icon-fill,
.gst-navbar--light .gst-navbar-social .gst-icon-normal.gst-icon-fill-square,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-navbar-social .gst-icon-normal.gst-icon-fill,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-navbar-social .gst-icon-normal.gst-icon-fill-square {
	background-color: #1d1d1d;
	color: #fff;
}

.gst-navbar--light .gst-lines,
.gst-navbar--light .gst-lines:before,
.gst-navbar--light .gst-lines:after,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-lines,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-lines:before,
.gst-navbar--alternate.gst-navbar--light.fixed-transparent .gst-lines:after {
	background-color: #1d1d1d;
}

.gst-navbar--dark .gst-navbar-inner,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-navbar-inner {
	border-color: #333333;
}

.gst-navbar--dark:not(.gst-navbar--alternate):not(.gst-side-navbar) .gst-navbar-logo--text,
.gst-navbar--dark .gst-topnav-menu > .menu-item > a,
.gst-navbar--dark .gst-extra-menu a,
.gst-navbar--dark .gst-navbar-social .gst-icon-normal,
.gst-navbar--dark .gst-side-navbar-nav .gst-navbar-logo--text,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-navbar-logo--text,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-topnav-menu > .menu-item > a,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-extra-menu a,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-navbar-social .gst-icon-normal {
	color: #ffffff;
}

.gst-navbar--dark .gst-navbar-social .gst-icon-normal.gst-icon-fill,
.gst-navbar--dark .gst-navbar-social .gst-icon-normal.gst-icon-fill-square,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-navbar-social .gst-icon-normal.gst-icon-fill,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-navbar-social .gst-icon-normal.gst-icon-fill-square {
	background-color: #ffffff;
	color: #222;
}

.gst-navbar--dark .gst-lines,
.gst-navbar--dark .gst-lines:before,
.gst-navbar--dark .gst-lines:after,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-lines,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-lines:before,
.gst-navbar--alternate.gst-navbar--dark.fixed-transparent .gst-lines:after {
	background-color: #ffffff;
}

.gst-navbar--light .gst-topnav-menu > .menu-item > a:hover,
.gst-navbar--dark .gst-topnav-menu > .menu-item > a:hover,
.gst-navbar--light.gst-navbar--alternate.fixed-transparent .gst-topnav-menu > .menu-item > a:hover,
.gst-navbar--dark.gst-navbar--alternate.fixed-transparent .gst-topnav-menu > .menu-item > a:hover {
	color: #f8c12e;
}

.gst-navbar-dropdown-light-scheme .sub-menu,
.gst-navbar-dropdown-light-scheme .gst-mega-menu,
.gst-navbar-dropdown-light-scheme .gst-cart-box {
	background-color: #f7f7f7;
}

.gst-navbar-dropdown-dark-scheme .sub-menu,
.gst-navbar-dropdown-dark-scheme .gst-mega-menu,
.gst-navbar-dropdown-dark-scheme .gst-cart-box {
	background-color: #000000;
}

img.gst-navbar-logo--image {
	max-width: 120px;
}

.gst-navbar--inline .gst-navbar-body-inner:first-child {
	padding-right: 100px;
}

.gst-navbar--inline .gst-navbar-body-inner:last-child {
	padding-left: 100px;
}

.gst-navbar-brand {
	font-family:'Poppins', sans-serif; font-style:normal; font-weight:600;
}

.gst-navbar-brand {
	font-size: 24px;
}

.gst-navbar-brand {
	letter-spacing: 0.1em;
}

.gst-navbar--mobile img.gst-navbar-logo--image,
.gst-navbar--mobile img.gst-fixed-nav-logo {
	max-width: 60px;
}

.gst-navbar-brand img.gst-fixed-nav-logo {
	max-width: 60px;
}

.gst-layout--wide .gst-container {
	max-width: 1400px;
	max-width: calc( 1200px + 10% );
}

.gst-container {
	padding-right: 5%;
	padding-left: 5%;
}

.gst-main {
	width: 75%;
}

.gst-sidebar {
	width: 25%;
}

.gst-sidebar,
.gst-main.blueprint-inactive {
	padding-top: 60px;
	padding-bottom: 60px;
}

.gst-sidebar > .gst-sidebar-background {
	background-color: #ffffff;
}

body {
	font-family:'Open Sans', sans-serif; font-style:normal; font-weight:normal;	font-size: 14px;
}

.gst-section-wrapper,
.gst-box-content {
	font-size: 14px;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

button,
input[type=button],
input[type=submit],
.btnx {
	font-family:'Poppins', sans-serif; font-style:normal; font-weight:600;	text-transform: uppercase;
}

button,
input[type=button],
input[type=submit] {
	padding: 16.5px 32px;
	border-radius: 0px;
	border-width: 1px;
	color: #222;
	background-color: #f8c12e;
	border-color: #f8c12e;
}

.gst-button > .btnx {
	border-radius: 0px;
	border-width: 1px;
}

select[disabled], select[readonly], select fieldset[disabled], textarea[disabled], textarea[readonly], textarea fieldset[disabled], input[disabled], input[readonly], input fieldset[disabled] {color: #1d1d1d; background-color: #f7f7f7; background-color: rgba(247,247,247,0.5);}

.gst-navbar--custom {
	height: 90px;
	line-height: 90px;
}

.gst-content-wrapper,
.gst-wrapper--header-transparent .gst-content-wrapper > .gst-page-title {
	padding-top: 90px;
}

.gst-wrapper--header-transparent .gst-post-featured--fullwidth .gst-page-title,
.gst-wrapper--header-transparent .gst-post-featured--overlap .gst-page-title {
	top: 90px;
}

.gst-navbar .gst-navbar-inner,
.gst-navbar--mobile .gst-navbar-inner {
	border-bottom-width: 1px;
}

.gst-topnav-menu > li > .gst-mega-menu,
.gst-topnav-menu > li > .sub-menu {
	margin-top: 1px;
}

.gst-topnav-menu .gst-mega-menu-column {
	border-right-width: 1px;
	border-right-style: solid;
}

.gst-sidenav-menu .current-menu-parent .gst-mega-menu-title a,
.gst-fullnav-menu .current-menu-parent .gst-mega-menu-title a,
.gst-navbar--light .gst-topnav-menu > .current-menu-ancestor > a,
.gst-navbar--light .gst-topnav-menu > .current-menu-parent > a,
.gst-navbar--light .gst-topnav-menu > .current-menu-item > a,
.gst-navbar--dark .gst-topnav-menu > .current-menu-ancestor > a,
.gst-navbar--dark .gst-topnav-menu > .current-menu-parent > a,
.gst-navbar--dark .gst-topnav-menu > .current-menu-item > a {
	color: #f8c12e;
}

.gst-topnav-menu .menu-item a {
	font-family:'Poppins', sans-serif; font-style:normal; font-weight:600;}

.gst-topnav-menu > .menu-item > a {
	text-transform: uppercase;
}

.gst-topnav-menu > .menu-item > a {
	font-size: 12px;
}

.gst-topnav-menu > .menu-item > a {
	letter-spacing: 0.1em;
}


.gst-topnav-menu .sub-menu {
	text-transform: none;
}

.gst-topnav-menu .sub-menu a,
.gst-topnav-menu .gst-mega-menu-title a {
	font-size: 12px;
}

.gst-topnav-menu > li > .sub-menu,
.gst-topnav-menu > li > .sub-menu .sub-menu {
	min-width: 220px;
}

.gst-collapsed-button--full.gst-closed .gst-lines:before, .gst-collapsed-button--full.gst-closed .gst-lines:after {background-color: #222;}
.gst-dark-scheme .gst-collapsed-button--full.gst-closed .gst-lines:before, .gst-dark-scheme .gst-collapsed-button--full.gst-closed .gst-lines:after {background-color: #fff;}
.gst-light-scheme .gst-collapsed-button--full.gst-closed .gst-lines:before, .gst-light-scheme .gst-collapsed-button--full.gst-closed .gst-lines:after {background-color: #222;}

.gst-fullnav-menu .menu-item a {
	font-family:'Poppins', sans-serif; font-style:normal; font-weight:600;}

.gst-fullnav-menu .menu-item a {
	font-size: 30px;
}

.gst-fullnav-menu .menu-item a {
	letter-spacing: -0.03em;
}

.gst-navbar--mobile .menu-item a {
	font-family:'Poppins', sans-serif; font-style:normal; font-weight:600;}

.gst-navbar--mobile .menu-item a {
	text-transform: uppercase;
}

.gst-navbar--mobile .menu-item a {
	font-size: 14px;
}

.gst-navbar--alternate {
	height: 70px;
	line-height: 70px;
}

.gst-navbar--alternate .gst-navbar-inner {
	border-bottom-width: 1px;
}

.gst-navbar--alternate .gst-topnav-menu > li > .gst-mega-menu {
	margin-top: 1px;
}

.gst-navbar--top.gst-navbar--fixed.gst-navbar--alternate .gst-navbar-inner {
	border-bottom-color: #eeeeee;
}

.gst-navbar--alternate .gst-topnav-menu > .menu-item > a {
	font-size: 12px;
}

.gst-navbar--top.gst-navbar--fixed.gst-navbar--alternate .gst-topnav-menu > .current-menu-item > a,
.gst-navbar--top.gst-navbar--fixed.gst-navbar--alternate .gst-topnav-menu > .current-menu-parent > a,
.gst-navbar--top.gst-navbar--fixed.gst-navbar--alternate .gst-topnav-menu > .current-menu-ancestor > a {
	color: #f8c12e;
}

.gst-navbar--top.gst-navbar--fixed.gst-navbar--alternate .gst-topnav-menu > .menu-item > a:hover,
.gst-navbar--top.gst-navbar--fixed.gst-navbar--alternate .gst-extra-menu a:hover,
.gst-navbar--top.gst-navbar--fixed.gst-navbar--alternate .gst-navbar-social .gst-icon-hover {
	color: #f8c12e;
}

.gst-navbar--top.gst-navbar--fixed.gst-navbar--alternate .gst-navbar-social .gst-icon-hover.gst-icon-fill,
.gst-navbar--top.gst-navbar--fixed.gst-navbar--alternate .gst-navbar-social .gst-icon-hover.gst-icon-fill-square {
	background-color: #f8c12e;
	color: #222;
}

.gst-topbar {
	height: 36px;
	line-height: 36px;
}

.gst-navbar-widget.gst-button > .btnx {
	border-radius: 0px;
	border-width: 1px;
}
